VITE_API_BASE_URL=http://localhost:3000
VITE_BRAND_TITLE=Soft&Stuff
VITE_BRAND_SUBTITLE=Everything, in one place
VITE_APP_ID=com.gravcore.softandstuff
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_IMAGEKIT_URL_ENDPOINT=